body {
    background-image: url("../Images/GlindaBackground.svg");
}

.map-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.grid {
    display: grid;
    gap: 0;
    justify-content: center;
    min-width: max-content;
    align-items: center;
}

.empty {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tree, .follower, .creature, .mainC {
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
}

    .tree img, .follower img, .creature img, .mainC img {
        width: auto;
        height: 40px;
    }

.grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    float: right;
    width: 70%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 50px;
}

.restButtons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

button {
    min-width: 4rem;
    min-height: 3rem;
    font-size: 1.6rem;
}

.buttons p {
    font-size: 1.3rem;
}