@page
@model WickedGame.Pages.Game.GameElphabaModel
@{
    ViewData["Title"] = "Game Elphaba";
    ViewData["CssFile"] = "mapElphaba.css";
}

<div class="map-container">
    <div id="timeRemainingDisplay"></div>
    <div class="buttons">
        <form id="moveUpForm" method="post" asp-page-handler="MoveUp">
            <button type="submit">Move uP</button>
        </form>
        <form id="moveDownForm" method="post" asp-page-handler="MoveDown">
            <button type="submit">Move Down</button>
        </form>
        <form id="moveLeftForm" method="post" asp-page-handler="MoveLeft">
            <button type="submit">Move Left</button>
        </form>
        <form id="moveRightForm" method="post" asp-page-handler="MoveRight">
            <button type="submit">Move Right</button>
        </form>
    </div>
    <div class="grid-container">
        <div class="grid">
            @foreach (var row in Model.MapGrid)
            {
                <div class="row">
                    @foreach (var cell in row)
                    {
                        <div class="@(cell)">

                            @if (cell == "creature")
                            {
                                <img src="~/Images/Bunny.jpg" alt="Creature" />
                            }
                            else if (cell == "follower")
                            {
                                <img src="~/Images/Rabbit.jpg" alt="Elphaba" />
                            }
                            else if (cell == "mainC")
                            {
                                <img src="~/Images/Elphaba.png" alt="Elphaba" />
                            }
                            else if (cell == "tree")
                            {
                                <img src="~/Images/Tree.jpg" alt="Tree" />
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.addEventListener("keydown", function (event) {
        if (event.key === "ArrowDown") {
            document.getElementById("moveDownForm").submit();
        } else if (event.key === "ArrowUp") {
            document.getElementById("moveUpForm").submit();
        } else if (event.key === "ArrowLeft") {
            document.getElementById("moveLeftForm").submit();
        } else if (event.key === "ArrowRight") {
            document.getElementById("moveRightForm").submit();
        }
        event.preventDefault();
    });
</script>