@page
@model WickedGame.Pages.ElphabaDifficultyModel
@{
    ViewData["Title"] = "Difficulty";
    ViewData["CssFile"] = "elphaba.css";
}

<div class="title">
    <h1>Choose difficulty</h1>
</div>
<form method="post">
    <div class="boxes-parent">
        <div class="boxes">
            <div class="box">
                <button type="submit" name="SelectedDifficulty" value="Easy">
                    <h3>Easy</h3>
                    <p>15 min</p>
                </button>
            </div>
            <div class="box">
                <button type="submit" name="SelectedDifficulty" value="Medium">
                    <h3>Medium</h3>
                    <p>10 min</p>
                </button>
            </div>
            <div class="box">
                <button type="submit" name="SelectedDifficulty" value="Hard">
                    <h3>Hard</h3>
                    <p>5 min</p>
                </button>
            </div>
            <div class="box">
                <button type="submit" name="SelectedDifficulty" value="Extreme">
                    <h3>Extreme</h3>
                    <p>1 min</p>
                </button>
            </div>
        </div>
    </div>
</form>
