@page
@model Wicked.Pages.HallOfFameModel
@{

<h1>Wicked Hall of Fame</h1>

@if (Model.TopScores.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.TopScores.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.TopScores[i].Name</td>
                    <td>@Model.TopScores[i].Score</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No high scores yet.</p>
}

}
