@page
@model WickedGame.Pages.InfoModel
@{
    ViewData["Title"] = "Info page";
    ViewData["CssFile"] = "info.css";
}

<div class="text-container">
    <div class="text">
        <h3>Wicked game</h3>
        <p>This game is based in the world of Oz.</p>
        <p>You have to collect as many followers as you can.</p>
        <p>In this game you have 2 characters and 4 difficulty levels.</p>
        <p>You can choose to play either Glinda (the Good Witch of the North) or Elphaba (the Wicked Witch of the West)</p>
        <p>The difficulty depends on the size of the map.</p>
        <p>The game ends when you walk into any obstacle (either a wall or a tree).</p>
        <p>Good luck!</p>
    </div>
</div>
<div class="button">
    <div class="choose-character">
        <a asp-area="" asp-page="/Characters">Let's get started!</a>
    </div>
</div>
