<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/W-favicon.png" />
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Ticks" />
    @if (ViewData["CssFile"] != null)
    {
        <link rel="stylesheet" href="~/css/@ViewData["CssFile"]?v=@DateTime.Now.Ticks" />
    }
</head>
<body>
    <header>
        <div>
            <a asp-area="" asp-page="/Index">
                <img src="~/Images/Logo.svg" alt="Game logo">
            </a>
        </div>
        <nav>
            <a asp-area="" asp-page="/Index">Start</a>
            <a asp-area="" asp-page="/Info">Rules</a>
        </nav>
    </header>

    <div id='root'></div>

    @RenderBody()

</body>
</html>